<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width-device-width,user-scalable-no"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/estilos.css">
    <script src="/js/scripts.js"></script>
    <script src="https://kit.fontawesome.com/ffa02b3c7d.js" crossorigin="anonymous"></script>
    <script src="js/jquery-3.5.1.min.js"></script>
    
    <!--Scripts necesarios para el grafico del historial de temp-->
  <!--  <link rel="stylesheet" href="styles/estilosGrafico.css">
   <script src="js/graficoScripts.js"></script>
    <script src="js/jquery-3.5.1.min.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>-->
    <!--******************************************************************************-->

    <title>SweetHome</title>
</head>
<body>
    <nav class="menu" id="menu">
        <h1 class="titulo">Palta Inc.</h1>
        <div class="contenedor contenedor-botones-menu">
            <button id="btn-menu-barras" class="btn-menu-barras"><i class="fas fa-bars"></i></button> 
            <button id="btn-menu-cerrar" class="btn-menu-cerrar"><i class="fas fa-times"></i></button>
        </div>
        <div class="contenedor contenedor-enlaces-nav">
            <div class="btn-categorias" id="btn-categorias">
                <p></p>
            </div>
            <div class="pestanias">
                <a href="#">Conexion</a>
                <a href="#">Living</a>
                <a href="#">Mi usuario</a>
                <a href="#">Información</a>
            </div>
        </div>
    </nav>
    <main class="contenedor">
        <article>
            <div class="contenedor contenedor-botones-luz">
                <button onclick="cambiarColorLed('led1')"  id="led1" class="btn-luz"><i class="far fa-lightbulb"></i></button>
                <button onclick="cambiarColorLed('led2')"  id="led2" class="btn-luz"><i class="far fa-lightbulb"></i></button>
                <button onclick="cambiarColorLed('led3')"  id="led3" class="btn-luz"><i class="far fa-lightbulb"></i></button>
                <button onclick="cambiarColorLed('led4')"  id="led4" class="btn-luz"><i class="far fa-lightbulb"></i></button>
            </div>
        </article>
    </main>
</body>
</html>
